In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import visuals as vs
%matplotlib inline

In [3]:
full_data=pd.read_csv('D:\\Education\\books\\data\\titanic.csv')
#full_data.head()

In [4]:
full_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
women = full_data.loc[full_data.Sex == 'female']["Survived"]

In [13]:
from sklearn.ensemble import RandomForestClassifier
y = full_data["Survived"]
features = ["Pclass", "Sex", "SibSp", "Parch"]
X = pd.get_dummies(full_data[features])

In [15]:
X

     Pclass  SibSp  Parch  Sex_female  Sex_male
0         3      1      0           0         1
1         1      1      0           1         0
2         3      0      0           1         0
3         1      1      0           1         0
4         3      0      0           0         1
..      ...    ...    ...         ...       ...
886       2      0      0           0         1
887       1      0      0           1         0
888       3      1      2           1         0
889       1      0      0           0         1
890       3      0      0           0         1

[891 rows x 5 columns]

In [32]:
outcomes=full_data['Survived']
data=full_data.drop('Survived',axis=1)
#data.head()

In [26]:
def accuracy_score(truth,pred):
    if len(pred)== len(truth):
        return 'predictions hv accuracy of {:.2f}%'.format((truth==pred).mean()*100)
    else:
        return "Number of predictions does not match number of outcomes!"
predictions=pd.Series(np.ones(5,dtype=int))
print(accuracy_score(outcomes[:5],predictions))

predictions hv accuracy of 60.00%

In [28]:
def predictions_0(data):
    predictions=[]
    for index,passenger in data.iterrows():
        predictions.append(0)
    return pd.Series(predictions)
predictions=predictions_0(data)
predictions.head()

0    0
1    0
2    0
3    0
4    0
dtype: int64

In [30]:
print(accuracy_score(outcomes,predictions))

predictions hv accuracy of 61.62%

In [48]:
#vs.survival_stats(data, outcomes, 'Sex')

In [51]:
def predictions_1(data):
    predictions=[]
    for index,passenger in data.iterrows():
        if passenger['Sex']=='female':
            predictions.append(1)
        else:
            predictions.append(0)
    return pd.Series(predictions)
predictions=predictions_1(data)
predictions.head()

0    0
1    1
2    1
3    1
4    0
dtype: int64

In [52]:
print(accuracy_score(outcomes,predictions))

predictions hv accuracy of 78.68%

In [49]:
#vs.survival_stats(data, outcomes, 'Age', ["Sex == 'male'"])

In [42]:
def predictions_2(data):
    predictions=[]
    for index,passenger in data.iterrows():
        if passenger['Sex']=='female':
            predictions.append(1)
        elif (passenger['Sex']=='male')&(passenger['Age'] <10):
            predictions.append(1)
        else:
            predictions.append(0)
    return pd.Series(predictions)
predictions=predictions_2(data)
predictions.head(20)

0     0
1     1
2     1
3     1
4     0
5     0
6     0
7     1
8     1
9     1
10    1
11    1
12    0
13    0
14    1
15    1
16    1
17    0
18    1
19    1
dtype: int64

In [43]:
print(accuracy_score(outcomes, predictions))

predictions hv accuracy of 79.35%

In [50]:
#vs.survival_stats(data, outcomes, 'Age', ["Sex == 'male'", "Age < 18"])

In [45]:
def predictions_3(data):
    predictions = []
    for index, passenger in data.iterrows():
        if passenger['Sex'] == 'female':
            if passenger['Pclass'] == 3 and passenger['Age'] > 40 and passenger['Age'] < 60:
                predictions.append(0)
            elif passenger['Pclass'] == 1 and passenger['Age'] < 10:
                predictions.append(0)
            else:
                predictions.append(1)
        if passenger['Sex'] == 'male':
            if passenger['Pclass'] == 2 and passenger['Age'] < 10:
                predictions.append(1)
            elif passenger['Pclass'] == 1 and passenger['Age'] < 40:
                predictions.append(1)
            else:
                predictions.append(0)
    return pd.Series(predictions)
predictions = predictions_3(data)

In [47]:
print (accuracy_score(outcomes, predictions))

predictions hv accuracy of 80.92%